* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    background: #f0e6e6;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.plastic__body {

    height: 1000px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 750px 250px;
    justify-items: center;
    align-items: center;     

}
svg {

    position: absolute;
    z-index: -1;
}

ellipse {
    
    fill: rosybrown;
    stroke: royalblue;
}

svg > ellipse:last-of-type {

    fill: rosybrown;
    stroke: rosybrown;


}

.plastic__body__top {
    height: 70%;
    width: 75%;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end; 


}

h1 {
    margin: 0 450px 0 450px;
}

.plastic__body__top > button{
    margin: 0 0 128px 0 ;
    padding: 10px;
}

.plastic__body__bottom {
    height: 70%;
    width: 75%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: flex-start; 


}

.plastic__body__bottom > button{
    margin: 20px;
    padding: 21px;
}


.body__screen {
    justify-self: center;
    height: 300px;
    width: 400px;
    margin: 0 0 60px 7px;
    border-radius: 2%;
    
    /* display: flex;
    align-self: center; */
    background-color: olive;
    overflow: hidden;

}

.screen {

    background-color: rgb(78, 78, 49);


}

.screen__start {
    height: 100%;
    display: flex;
    flex-wrap: wrap;




}
.screen__start > h2 {
    padding: 30px 0 0 30px;

}
.screen__start > h3 {
    padding: 0 0 0 30px;

}

.screen__start > input {
    margin: 36px 0 77px 30px;
    padding: 5px;
    width: 50%;
    font-size: 30px;

}

.screen__start > aside {
    height: 116px;
    max-width: 169px;
    min-width: 169px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.screen__start img {
    height: 100%;
    /* padding: 30px 0 0 50px; */
    box-sizing: border-box;

}

.home {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home > h2:first-child {
    /* align-self: start;
    justify-content: center; */
    /* padding: 30px 0 0 50px; */
    min-width: 217px;
    padding: 0px 26px 0 26px;
    text-align: center;

}

.home > h2:last-of-type {
    /* align-self: start;
    justify-content: center; */
    /* margin: 50px 0 0 116px; */
    margin: 50px 0 14px 26px;

}

.home > aside {
    height: 156px;
    max-width: 213px;
    min-width: 213px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home img {
    height: 100%;
    /* padding: 30px 0 0 50px; */
    box-sizing: border-box;

}

.home > ul {

    list-style-type: none;
    width: 42%;
    
}

.home li {
    background-color: cyan;
    border-style: solid;
    border-color: cadetblue;
    margin: 10px 0 0 0;
    /* padding: 7px 0; */
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.home meter {

    height: 37px;
    width: 80px;
    
}

/* li > progress {
    width: 56%;
    margin: 0 0 0 13px;
} */

.screen:not(.home) {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.screen:not(.home) > h2:first-child {
    /* align-self: start;
    justify-content: center; */
    /* padding: 30px 0 0 50px; */
    min-width: 217px;
    padding: 0px 26px 0 26px;
    text-align: center;

}

.screen:not(.home) > h2:last-of-type {
    /* align-self: start;
    justify-content: center; */
    /* margin: 50px 0 0 116px; */
    margin: 50px 0 14px 26px;

}

.screen:not(.home) > aside {
    height: 156px;
    max-width: 213px;
    min-width: 213px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.screen:not(.home) img {
    height: 156px;
    box-sizing: border-box;

}

.screen:not(.home) > ul {

    list-style-type: none;
    width: 42%;
    min-height: 159px;
    max-height: 159px;
    
}

.screen:not(.home) li:first-child {
    background-color: cyan;
    border-style: solid;
    border-color: cadetblue;
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 0 0;

}

.screen:not(.home) meter {

    height: 37px;
    width: 80px;
    
}

/* TODO spacer not working yet remember to fix it

.screen:not(.home) li.spacer {
    background-color: cyan;
    max-height: 42px;
    min-height: 18px;


} */

.screen:not(.home) li:last-child {
    background-color: cyan;
    border-style: solid;
    border-color: cadetblue;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;


}

.screen:not(.home) button {
    color: darkmagenta;
    padding: 15px;
    /* margin: 0 0 0 46px; */
}

.on {
    opacity: 1;
    position: relative;
    z-index: 0;
}

.off {
    /* display: none; */
    opacity: 0;
    position: absolute;
    z-index: -2;
}

.pop__up {

background-color: darkmagenta;
height: 100px;
width: 250px;
text-align: center;
padding: 10px;

}
