* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    background: #f0e6e6;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.plastic__body {

    height: 1000px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 750px 250px;
    justify-items: center;
    align-items: center;     

}
svg {

    position: absolute;
    z-index: -1;
}

ellipse {
    
    fill: rosybrown;
    stroke: royalblue;
}

svg ellipse:last-of-type {

    fill: rosybrown;
    stroke: rosybrown;


}

.plastic__body__top {
    height: 70%;
    width: 75%;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end; 


}

h1 {
    margin: 0 450px 0 450px;
}

.plastic__body__top > button{
    margin: 0 0 128px 0 ;
    padding: 10px;
}

.plastic__body__bottom {
    height: 70%;
    width: 75%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: flex-start; 


}

.plastic__body__bottom > button{
    margin: 20px;
    padding: 21px;
}


.body__screen {
    justify-self: center;
    height: 300px;
    width: 400px;
    margin: 0 0 60px 7px;
    border-radius: 2%;
    
    /* display: flex;
    align-self: center; */
    background-color: olive;

}

.screen {

    background-color: rgb(78, 78, 49);


}

.start {
    height: 100%;
    display: flex;
    flex-wrap: wrap;




}
.start > h2 {
    padding: 30px 0 0 30px;

}
.start > h3 {
    padding: 0 0 0 30px;

}

.start > input {
    margin: 36px 0 77px 30px;
    padding: 5px;
    width: 50%;
    font-size: 30px;

}

.start > img {
    height: 116px;
    /* padding: 30px 0 0 50px; */
    box-sizing: border-box;

}