:root{
    --screen-color: rgb(78, 78, 49);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    background: #f0e6e6;
    padding: 20px;
    min-height: 100vh;
    /* width: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.plastic__body {

    height: 1000px;
    /* min-height: 1000px; */
    width: 1000px;
    min-width: 1000px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 750px 250px;
    justify-items: center;
    align-items: center;     

}
svg {

    position: absolute;
    /* quick fix because svg shape is out of aligment; not sure yet why */
    margin-top: -500px;
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    right: 0;
    /* end of quick fix */
    z-index: -1;
}

ellipse {
    
    fill: rosybrown;
    stroke: royalblue;
}

svg > ellipse:last-of-type {

    fill: rosybrown;
    stroke: rosybrown;


}

.plastic__body__top {
    height: 70%;
    width: 75%;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end; 


}

h1 {
    /* margin: 0 450px 0 450px; */
    margin: 17px 275px 0 288px;
    /* margin: 17px 153px 0 173px; press start 2p font */ 

}

.plastic__body__top > button{
    margin: 0 0 128px 0 ;
    padding: 10px;
}

.plastic__body__bottom {
    height: 70%;
    width: 75%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: flex-start; 


}

.plastic__body__bottom > button{
    margin: 20px;
    padding: 21px;
}


.body__screen {
    justify-self: center;
    height: 300px;
    width: 400px;
    margin: 0 0 60px 7px;
    border-radius: 2%;
    
    /* display: flex;
    align-self: center; */
    background-color: var(--screen-color);
    overflow: hidden;

}

/* .screen {

    background-color: var(--screen-color);
    font-family: 'Press Start 2P', cursive;


} */

.screen__start {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}
.screen__start > h2 {
    padding: 30px 0 0 30px;

}
.screen__start > h3 {
    padding: 0 0 0 30px;

}

.screen__start > input {
    margin: 36px 0 77px 30px;
    padding: 5px;
    width: 50%;
    font-size: 30px;

}

.screen__start > aside {
    height: 116px;
    max-width: 169px;
    min-width: 169px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.screen__start img {
    height: 100%;
    /* padding: 30px 0 0 50px; */
    box-sizing: border-box;

}

.home {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home > h2:first-child {
    /* align-self: start;
    justify-content: center; */
    /* padding: 30px 0 0 50px; */
    min-width: 217px;
    padding: 0px 26px 0 26px;
    text-align: center;

}

.home > h2:last-of-type {
    /* align-self: start;
    justify-content: center; */
    /* margin: 50px 0 0 116px; */
    margin: 50px 0 14px 26px;

}

.home > aside {
    height: 156px;
    max-width: 213px;
    min-width: 213px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home>aside>img {
    height: 100%;
    /* padding: 30px 0 0 50px; */
    box-sizing: border-box;
    z-index: -2;

}

.home > ul {

    list-style-type: none;
    max-height: 159px;
    width: 42%;
    
}

/* .home li {
    background-color: cyan;
    border-style: solid;
    border-color: var(--screen-color);
    padding: 0;
    margin: 10px 0 0 0;
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

} */

.home li.home__li {/* class to surpass nes.css styling */
    border-style: solid;
    border-color: var(--screen-color);
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.home meter {

    height: 37px;
    width: 80px;
    
}

/* li > progress {
    width: 56%;
    margin: 0 0 0 13px;
} */

.screen:not(.home) {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.screen:not(.home) > h2:first-child {
    /* align-self: start;
    justify-content: center; */
    /* padding: 30px 0 0 50px; */
    min-width: 217px;
    padding: 0px 26px 0 26px;
    text-align: center;

}

.screen:not(.home) > h2:last-of-type {
    /* align-self: start;
    justify-content: center; */
    /* margin: 50px 0 0 116px; */
    margin: 50px 0 14px 26px;

}

.screen:not(.home) > aside {
    height: 156px;
    max-width: 213px;
    min-width: 213px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.screen:not(.home) img {
    height: 156px;
    box-sizing: border-box;
    z-index: -2;

}

.screen:not(.home) > ul {

    list-style-type: none;
    width: 42%;
    min-height: 159px;
    max-height: 159px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.screen:not(.home) li:first-child {
    /* background-color: cyan; */
    border-style: solid;
    border-color: var(--screen-color);
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.screen:not(.home) meter {

    height: 37px;
    width: 80px;
    
}

.screen:not(.home) li:last-child {
    /* background-color: cyan; */
    border-style: solid;
    border-color: var(--screen-color);
    /* margin: 50px 0 0 0; */
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;


}

.screen:not(.home) button {
    color: darkmagenta;
    padding: 15px;
    margin: 0 0 0 46px; 
    margin: 0 0 0 0;
    padding: 8px;
}

.on {
    opacity: 1;
    position: relative;
    z-index: 0;
}

.off {
    /* display: none; */
    opacity: 0;
    position: absolute;
    z-index: -2;
}

.pop__up {

    background-color: transparent;
    height: 100%;
    /* width: 250px; */
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: 1s ease-in;

}

.pop__up img {
    transition: 1s ease-in;
    height: 50%;
    transform: translateX(-150px);
}

.pop__up div {
    opacity: 0;
    align-self: flex-start;
    margin: 20px 8px 30px 8px;
}

.pop__up.poped__up{
    /* transition: background-color 1s ease-in; */
    background-color: var(--screen-color);
}

.pop__up.poped__up img {

    transform: translateX(0px);
}

.pop__up.poped__up div {
    transition: 1s ease-in;
    opacity: 100%;  
}